.sp {
    position: absolute;
    margin-top: -56px;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    background-color: rgba(33, 37, 41, 1);
    z-index: 999999999;
}